.App-title {
  font-size: 3em;
  color: teal;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  height: auto;
  text-align: center;
  z-index: 5;  /*brings header to front of z-index  - the higer the index the more front it is - we should figure out a way to make this consistant (should always be the one in front)*/
}

.invisible-header {
  /* background-color: green; */
  height: 130px;
  visibility: hidden;
  position: relative;
  /* margin-bottom: 10px; */
}

.wrapper {
  border: 10px solid teal;
  text-align: center;
  font-size: 50px;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
}

.EC2-contents {
  text-align: left;
  margin: 10px 10px;
  font-size: 20px;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto 10px auto;
  width: 100px;
  font-size: 16px;
  cursor: pointer;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.popup_inner {
  position: fixed;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  margin: auto;
  background: white;
}

.submit {
  position: absolute;
  line-height: 100px;
  vertical-align: middle;
  height: 100px;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 0 !important;
}

.services-container {
  position: relative;
  color: black;
  /* margin: 10px 0; */
  /* padding: 10px 0; */
  /* border: 5px solid red; */
}

.services {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 0 auto;
  /* margin: 0 10px; */
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  height: 100px;
  /* border-top: 1px solid orange; */
  border-bottom: 1px solid black;
  width: 100%;
}
